nav
{

	margin: 0px;
	align-items: center;
	padding: 10px 0px 20px 0px ;
	border: 5px solid orange;
	background-color:green;
    position: relative;
}
.d-flex>div
{
    position: relative;
    top: 10px;
}
.d-flex>div>h3
{
	color:red;
	margin: 10px;
	text-shadow: 2px 0 5px yellow;

}
.d-flex>div>h3>span
{
	margin:10px;
	font-size: 30px;
	padding: 5px;
	color:yellow;
	background-color: green;
	border-radius: 30% 0px 30% 0%;
	border: 3px solid cyan;
	text-shadow:2px 0px 7px red ;
	
}
.d-flexv>div>h3>span:hover
{
	background-color:red;
	color: rgb(131, 7, 240);
	cursor: pointer;
	text-shadow:2px 0px 7px yellow;
}

.ul_nav
{
    position: absolute;
    top: 25%;
    list-style-type: none;
    display: inline-flex;
    right: 18%;

}
.ul_nav>li
{
    padding: 4px;
}
