body
{
    position: relative;
}
.crd
{
    position:absolute;
}
#card
{
    width: 260px;
    padding: 10px;

}
#card:hover
{

 padding: 5px; 
}

#orderdetail
{
    background-color:orange;
    border-radius: 10px;
}
#orderdetail:hover
{
    background-color:darkgrey;
}
#customer
{
    background-color:cyan;
    border-radius: 10px;
}
#product_detail>h3
{
    position: relative;
    top: 500px;
    background-color: aqua;
}