{% extends 'app/dummy.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body_block %}
<center>
    <div class="upload_address">
        <h5>Address changing</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <textarea name="address" id="address" cols="30" rows="5" placeholder="Enter your Address">
            House.no: 
            Street  :
            City    :
            State   :
            </textarea><br>
            <input type="number" name="pin" placeholder="Enter pincode number"><br>
        
            <input type="submit" value="submit" id="uploadaddress_btn">
        </form>
    </div>
</center>

{% endblock %}